<div *ngIf="student">
  <h1 class="text-center w-50 mx-auto text-white bg-info mt-2 rounded-2 shadow p-2">Data about student {{student.name}}</h1>
<div class="content w-50 rounded-2 shadow border-info text-white mx-auto p-3">
 
    <h2>Email :<span class="text-info ">{{student.email}}</span></h2>
    <h2>Age :<span class="text-info">{{student.age}}</span></h2>
    <h2>Phone :<span class="text-info">{{student.phone}}</span></h2>

</div>
</div>
<!-- <table class="table w-75 m-auto border border-info mt-2 text-center">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">phone</th>
        <th scope="col">age</th>
    
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="student">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.phone}}</td>
        <td>{{student.age}}</td>

      </tr>
    </tbody>
  </table> -->
